<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  ${require('raw-loader!./meta.html')}
  <title>search</title>
</head>
<script>${require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js')}</script>

<body>
  <div class="root"><!--HTML_PLACEHOLDER--></div>
  <!-- <script src="https://now8.gtimg.com/now/lib/16.8.6/react.min.js"></script> -->
  <!-- <script src="https://now8.gtimg.com/now/lib/16.8.6/react-dom.min.js"></script> -->
  <!--INITIAL_DATA_PLACEHOLDER-->
</body>

</html>